
body {
	font-family: 'Bungee Shade';
	font-size: 22px;
	background-image: linear-gradient(#C298F4, #66658C);

}

.wrapper h1 {
	color: black;
	font-size: 50px;
	text-align: center;
  text-shadow: 2px 2px 6px #6E6BFC;

}

.wrapper h4 {
	color: black;
	font-size: 30px;
	text-align: center;
}

.img-wrapper {
  display: inline-block;
  width: 17%;
  padding-left: 25px;
  padding-top: 40px;
}

.img-wrapper > img {
  width: 100%;
}


div:hover {
  background-color: #444493;
}

h1:hover {
  background-color: #8442D1;
}