@charset "UTF-8";

body {
	font-family: 'Bungee Shade';
	font-size: 22px;
	background-image: linear-gradient(#C298F4, #5E6FB7);

}

.wrapper h1 {
	color: black;
	font-size: 50px;
	text-align: center;
  	text-shadow: 2px 2px 4px #00F3FF;

}


.wrapper h4 {
	color: black;
	font-size: 30px;
	text-align: center;
}

.img-wrapper {
  display: inline-block;
  width: 17%;
  padding-left: 25px;
  padding-top: 40px;
  cursor: pointer;
}

.img-wrapper > img {
  width: 100%;
}


div:hover {
  background-color: #00F3FF;
}

h1:hover {
  background-color: #AF54F7;
}

