
body {
	font-family: 'Bungee Shade', 'Orbitron';
	font-size: 22px;
	background-color: #B0ADC2;

}

a:hover {
  color: hotpink;
}

.wrapper h1 {
	color: black;
	font-size: 50px;
	text-align: center;
  text-shadow: 2px 2px 4px #7C00C4;
}

.wrapper h4 {
	color: black;
	font-size: 30px;
	text-align: center;
}

.img-wrapper {
  display: inline-block;
  width: 17%;
  padding-left: 25px;
  padding-top: 40px;
  cursor: pointer;
}

.img-wrapper > img {
  width: 100%;
}

div:hover {
  background-color: #C2C1D3;
}




 /*
.black-background {
  background-color: black;
}

/*s
.st0 {
  fill:#333 !important;
}


important is an override
*/

/*#rGrain, #lGrain {
  fill: red;
} */

#alien:hover #rGrain {
  fill: red;
}

#beerGraphic:hover #lGrain {
  fill: red;
}
